body {
  padding: 0%;
  margin: 0%;

}
.main {
  background-image: url("../images/sign.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.main .one {
  display: flex;
  height: 10%;
}
.main .one img {
  width: 100px; height: 80px;
  margin: 15px 0px 0px 25px;
}
.main .one p{
  font: normal normal 900 56px/67px Aileron;
  margin-top: 35px;
  font-family: sans-serif;
  font-weight: bold;
  color: #269A41
}
.main .one span {
  color:#269A41;
}
/* twoooooooooo */
.main .two{
  height: 65vh;
  padding: 20px;
 margin-left:55%; 
}
.main .two h1{
  color: white;
  margin-left: 36%; 
  font-family: sans-serif;
  font-weight: bold;
  font-size:50px; margin-top: -25px;
}
.main .two form input{
    width: 275px; height: 65px; border-radius: 15px; border: none;
     text-align: center; margin: 0px 54px 60px ; border-color:ghostwhite ; font-size: 24px;
}

.main .two form input[type=submit]{
  width: 50%;
  height: 65px;
  margin-left:22%;
  background-color:#269A41; border-radius: 31px;
  color: white;
  font-size: 30px;
  margin-top: 30px;
}

  .main .two form select {
  margin-left:22%;
  font-size: 30px;
  padding: 15px 120px;
  border-radius: 15px ; 
}

/* mediaaaaaaaa   mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee  */
@media (max-width:767px){
.main {
  background-image: url("../images/sign.png");
  height: 100vh;width: 100%;
  background-position: center;
  background-size: 100vh 100%;
}
.main .one {
  display: flex;
  height: 10%;
}
.main .one img {
  width: 60px; height: 50px;
  margin: 15px 0px 0px 25px;
}
.main .one p{
  font-size: 20px;
  margin-top: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color:#269A41;
}
.main .one span {
  color:#269A41;
}
/* twoooooooooo */
.main .two{
  height: 65vh;
  padding: 10px;
 margin-left:35%; 
}
.main .two h1{
  color: white;
  margin-left: 20%; 
  font-family: sans-serif;
  font-weight: bold;
  font-size:30px; margin-top: -25px;
}
.main .two form input{
    width: 180px; height: 50px; border-radius: 31px; border: none;
     text-align: center; margin: 0px 54px 30px ; border-color:ghostwhite ; font-size: 15px;
}

.main .two form input[type=submit]{
  width: 180px;
  height: 65px;
  margin-left:11%;
  background-color: #269A41;
  color: white;
  font-size: 25px;
  margin-top: 30px;
}

  .main .two form select {
  margin-left:12%;
  font-size: 15px;
  padding: 15px 55px;
  border-radius: 40px ; 
}


}

























/* media small sereen rules*/
@media (min-width:768px) and (max-width:991px){




   .main {
  background-image: url("../images/sign.png");
 /*  width: 100%; */
  height:100vh; 
  background-size: cover;
}
.main .one {
  display: flex;
  height: 10%;
}
.main .one img {
  width: 70px; height: 60px;
  margin: 15px 0px 0px 25px;
}
.main .one p{
  font-size: 25px;
  margin-top: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color:#269A41;
}
.main .one span {
  color:#269A41;
}
/* twoooooooooo */
.main .two{
  height: 65vh;
  padding: 15px;
 margin-left:35%; 
}
.main .two h1{
  color: white;
  margin-left: 20%; 
  font-family: sans-serif;
  font-weight: bold;
  font-size:30px; margin-top: -25px;
}
.main .two form input{
    width: 200px; height: 60px; border-radius: 15px; border: none;
     text-align: center; margin: 0px 54px 30px ; border-color:ghostwhite ; font-size: 19px;
}

.main .two form input[type=submit]{
  width: 180px;
  height: 55px;
  margin-left:10%;
  background-color: #269A41;
  color: white;
  font-size: 25px;
  margin-top: 30px;
}

  .main .two form select {
  margin-left:11%;
  font-size: 20px;
  padding: 15px 47px;
  border-radius: 40px ; 
}

  











}








 /* media medium sereen rules*/
  @media (min-width:992px) and (max-width:1199px){



 .main {
  width: 100%;
  height: 100vh;
  background-image: url("../images/sign.png");
  background-size:cover;
}
.main .one {
  display: flex;
  height: 10%;
}
.main .one img {
  width: 80px; height: 70px;
  margin: 15px 0px 0px 25px;
}
.main .one p{
  font-size:35px;
  margin-top: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color:#269A41;
}
.main .one span {
  color:#269A41;
}
/* twoooooooooo */
.main .two{
  height: 65vh;
  padding: 10px;
 margin-left:38%; 
}
.main .two h1{
  color: white;
  margin-left: 30%; 
  font-family: sans-serif;
  font-weight: bold;
  font-size:40px; margin-top: -25px;
}
.main .two form input{
    width: 180px; height: 50px;border-radius: 15px; border: none;
     text-align: center; margin: 0px 54px 50px ; border-color:ghostwhite ;  font-size: 20px;
}

.main .two form input[type=submit]{
  width: 35%;
  height: 65px;
  margin-left:20%;
  background-color: #269A41;
  color: white;
  font-size: 30px;
  margin-top: 30px;
}

  .main .two form select {
  margin-left:20%;
  font-size: 20px;
  padding: 15px 68px;
  border-radius: 40px ; 
}



}








@media(min-width:1200px) and (max-width:1629px){



  
 .main {
  width: 100%;
  height: 100vh;
  background-image: url("../images/sign.png");
  background-size:cover;
}
.main .one {
  display: flex;
  height: 10%;
}
.main .one img {
  width: 80px; height: 70px;
  margin: 15px 0px 0px 25px;
}
.main .one p{
  font-size:35px;
  margin-top: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color:#269A41;
}
.main .one span {
  color:#269A41;
}
/* twoooooooooo */
.main .two{
  height: 65vh;
  padding: 10px;
 margin-left:48%; 
}
.main .two h1{
  color: white;
  margin-left:230px; 
  font-family: sans-serif;
  font-weight: bold;
  font-size:40px; margin-top: -25px;
}
.main .two form input{
    width: 180px; height: 50px;border-radius: 15px; border: none;
     text-align: center; margin: 0px 54px 50px ; border-color:ghostwhite ; font-size: 22px;
}

.main .two form input[type=submit]{
  width: 30%;
  height: 65px;
  margin-left:24%;
  background-color: #269A41;
  color: white;
  font-size: 30px;
  margin-top: 30px;
}

  .main .two form select {
  margin-left:25%;
  font-size: 20px;
  padding: 15px 68px;
  border-radius: 40px ; 
}


} 